{% extends 'navbar.html' %}

{% block content %}
    <body>
        <h1>Add a new boxer</h1>
        <p>
            <div class="form"> 
                <form method="POST" actions="">
                    {{ form.hidden_tag() }}

                    {{ form.first_name.label }} {{ form.first_name }}
                    <br>
                    {{ form.last_name.label }} {{ form.last_name }}
                    <br>
                    {{ form.weight_class.label }} {{ form.weight_class }}
                    <br>
                    {{ form.stance.label }} {{ form.stance }}
                    <br>
                    {{ form.fighting_licence.label }} {{ form.fighting_licence }}
                    <br>
                    {{ form.club_name.label }} {{ form.club_name }}
                    <br>
                    {{ form.submit }}
                    <br>

                </form>
            </div>
        </p>
    </body>
{% endblock content %}