{% extends 'navbar.html' %}

{% block content %}
    <body>
        <h1>Add a new club</h1>
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}
        <p>
            <div class="form"> 
                <form method="POST" actions="">
                    {{ form.hidden_tag() }}

                    {{ form.club_name.label }} {{ form.club_name }}
                    <br>
                    {{ form.address.label }} {{ form.address }}
                    <br>
                    {{ form.licence.label }} {{ form.licence }}
                    <br>
                    {{ form.submit }}
                    <br>

                </form>
            </div>
        </p>
    </body>
{% endblock content %}